@import "mixins";
@import "variables";

body {
    @include reset-list;
}

.titleStyle {
    text-align: center;
}
.subtitleStyle {
    text-align: center;
}

.divImg {
    width: 100%;
    height: auto;
}
.imgStyle {
    width: 50%;
}