@import "mixins";
@import "variables";


.navbar {
    padding: 0.2rem 0.5rem;
    @include myFont;
}

.mainLogo {
        margin: 10px 0;
        vertical-align: middle;
        max-width: 40vw;
        max-height: 60px;
    
}
.navbar-dark .navbar-toggler {
    border-color: #ffffffc4;
}
.bg-dark {
    background-color:#c7b0ea!important;
}

