$primaryColor: rgb(158, 192, 255);
$secondaryColor: rgb(184, 235, 241);
$tercerColor: rgb(227, 233, 236); 

$mainFont: sans-serif;

$gradienteHero: radial-gradient( rgba(119, 119, 119, 0) 0%, rgba(0, 0, 0, 1) 100%); 
$gradienteFooter: linear-gradient(rgba(53, 67, 107, 0.452) 0%, rgba(0, 0, 0, 1)100%);
$gradienteNav: linear-gradient(rgba(53, 67, 107, 0.623) 0%, rgba(0, 0, 0, 0.5)100%);
$gradienteMain: linear-gradient(to top, rgba(53, 67, 107, 0.815) 0%, rgb(0, 0, 0)100%);

